<%= form_for(@workorder) do |f| %>
  <div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.label :title %><br>
    <%= f.text_field :title%>
    <% workorder.errors.full_messages_for(:title).each do |message| %>
      <div style="color:red;"><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= f.label :multiplier %><br>
    <%= f.number_field :multiplier%>
  </div>
  <div>
    <%= f.label :labor_hours %><br>
    <%= f.number_field :labor_hours%>
  </div>
  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description%>
  </div>
    <%= f.submit action_name == "new" ? "Create Workorder" : "Save Changes", class: "btn btn-lg btn-primary btn-block mt-3" %>
<% end %>
