<h1>Machine: <%= @workorder.title %></h1>
<p>Created: <%= @workorder.created_at %></p>
<p>Multiplier: <%= @workorder.multiplier %></p>
<p>Labor Hours: <%= @workorder.labor_hours %></p>
<p>Description: <%= @workorder.description %></p>
<ul>
  <li><%= link_to "Edit", edit_workorder_path(@workorder) %></li>
  <li><%= button_to "Delete", workorder_path, method: :delete, data: {
                    confirm: "Are you sure?"
  }, class: 'text-danger'  %></li>
</ul>
