<h1><%= @workorder.title %></h1>
<p><%= @workorder.created_at %></p>
<p><%= @workorder.multiplier %></p>
<p><%= @workorder.labor_hours %></p>
<p><%= @workorder.description %></p>
<ul>
  <li><%= link_to "Edit", edit_workorder_path(@workorder) %></li>
  <li><%= link_to "Destroy", workorder_path(@workorder),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
  </li>
</ul>
